[submodule "drone_api"]
	path = drone_api
	url = https://github.com/Project-GrADyS/uav_api.git
[submodule "groundStation_software"]
	path = groundStation_software
	url = https://github.com/Project-GrADyS/gradys-gs-ng.git
